@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers;

@model pizza_shop_MVC.ViewModels.ResetPasswordModel;
 @{
  ViewData["Title"] = "Reset Password";
}




<div class=" row h-100 w-100  position-absolute ">
  <div class=" col-lg-6 d-none d-lg-block p-0 col-12 ">
    <img class=" img-fluid  login_img h-100 " src="~/images/dominos_background.jpg" alt="">
  </div>
  <div class="   col-lg-6 col-12 ps-0  show_bg_color ">
    <div class="   d-flex flex-column justify-content-center align-items-center h-100  ">

      <div class=" d-flex justify-content-center align-items-center ">
        <img class=" pizaashop_img " src="~/images/logos/pizzashop_logo.png" alt="">
        <h3 class="text-uppercase"> pizzashop</h3>
      </div>

   
      <form  method="post" class=" w-75 m-3 mt-5 ">
        <div>
          <h2>Forgot Password</h2>
        </div>


        <p class=" mt-4 display-1 font-weight-light"> Reset Your Password </p>
       <div class="position-relative">
          <input type="password" placeholder="New Password*" asp-for="Password" class="mt-4 bg-light p-3 form-control"
            name="password" id="password-input">
          <span class="position-absolute" id="toggle-password"
            style="right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
            <i class="bi bi-eye-slash-fill"></i>
          </span>
        </div>
                <span class="text-danger " asp-validation-for="Password"></span>

       <div class="position-relative">
          <input type="password" placeholder="confirm New Password*" asp-for="ConfirmPassword" class="mt-4 bg-light p-3 form-control"
            name="password" id="password-input">
          <span class="position-absolute" id="toggle-password"
            style="right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
            <i class="bi bi-eye-slash-fill"></i>
          </span>
        </div>
        <span class="text-danger " asp-validation-for="ConfirmPassword"></span>
  
        <button class=" mt-4 btn btn-primary w-100 text-center  " type="submit" >submit</button>

        <div class=" w-100 text-center mt-4">

          <a asp-action="Index" class=" text-decoration-none   "> Back to login
          </a>

        </div>



      </form>


    </div>


  </div>

